/* ====================== */
/*         ASSETS         */
/* ====================== */
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.pos-relative {
  position: relative;
}

h2.logo {
  width: 167px;
  height: 51px;
}
@media (min-width: 320px) and (max-width: 767px) {
  h2.logo {
    width: 140px;
    height: 40px;
  }
}
h2.logo a {
  width: 167px;
  height: 51px;
  display: block;
  background: url(../images/bg-logo.svg) no-repeat;
  text-indent: -9000px;
}
@media (min-width: 320px) and (max-width: 767px) {
  h2.logo a {
    width: 140px;
    height: 40px;
    background-size: cover !important;
  }
}

@font-face {
  font-family: Avenir-Bold;
  src: url(../fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: Avenir-Regular;
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: Avenir-Heavy;
  src: url(../fonts/avenir-heavy.ttf);
}
@font-face {
  font-family: Avenir-Medium;
  src: url(../fonts/Avenir-Medium.ttf);
}
/* ====================== */
/*         LAYOUT         */
/* ====================== */
.s-header {
  padding: 12px 0;
  margin: 0 0 16px;
}
.s-header .s-header-content {
  display: grid;
  grid-template-columns: 207px 1fr 1fr;
  grid-gap: 60px;
  align-items: center;
}
.s-header .s-header-content h2.logo a {
  background-image: url(../images/logo.svg);
}
.s-header .s-header-content .menu li {
  display: inline-block;
  margin-right: 47px;
}
.s-header .s-header-content .menu li:last-child {
  margin: 0;
}
.s-header .s-header-content .menu li a {
  position: relative;
  color: #A7A7A7;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}
.s-header .s-header-content .menu li a:hover {
  color: #000000;
}
.s-header .s-header-content .menu li a span.user-img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.s-header .s-header-content .menu li a.active {
  color: #000000;
}
.s-header .s-header-content .menu li a.have-profile-img {
  padding-left: 40px;
}
.s-header .s-header-content .menu.right-menu {
  justify-self: end;
}
.s-header .s-header-content .menu.right-menu li a {
  color: #414042;
}

*, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Avenir-Medium;
}

.main-container {
  max-width: 1920px;
  margin: 0 auto;
}
.main-container .inner-container {
  max-width: 1360px;
  margin: 0 auto;
}
.main-container .s-main-body-content {
  display: grid;
  grid-template-columns: 207px auto;
  grid-gap: 60px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 17px;
  margin: 0 0 28px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post.have-top-border {
  background-image: url(../images/single-post-border.svg);
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post {
  padding: 25px 19px 21px;
  box-shadow: 0px 0px 5px #999;
  border-radius: 12px;
  position: relative;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post .heading {
  margin: 0 0 15px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post .heading .dots {
  position: absolute;
  right: 27px;
  top: 25px;
  cursor: pointer;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post .heading h2 {
  color: #000000;
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 2px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post .heading span.mini-detail {
  font-size: 14px;
  line-height: 20px;
  color: #8F8F8F;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post .post-img {
  margin: 0 0 21px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post .post-img img {
  width: 100%;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post p {
  font-size: 16px;
  line-height: 20px;
  color: #393939;
  margin: 0 0 20px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post .footer-icons-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post .footer-icons-list p {
  cursor: pointer;
  color: #5D5D5D;
  margin: 0;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post .footer-icons-list p.have-grid {
  display: grid;
  grid-template-columns: 18px auto;
  align-items: center;
  grid-gap: 6px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post .footer-icons-list p.right-icon {
  justify-self: end;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post button {
  color: #ffffff;
  border: none;
  font-size: 16px;
  width: 140px;
  height: 30px;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post button.subscribe {
  background-color: #7D83FF;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post button.subscribe:hover {
  background-color: #7075e5;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post button.following {
  background-color: #CACACA;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container .single-post button.following:hover {
  background-color: #b5b5b5;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container.single-post-container {
  display: grid;
  grid-template-columns: 1fr;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container.single-post-container .single-post {
  padding: 52px 46px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container.single-post-container .single-post .heading {
  margin: 0 0 30px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container.single-post-container .single-post .heading h2 {
  font-size: 28px;
  line-height: 37px;
  margin: 0 0 4px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container.single-post-container .single-post .heading .dots {
  right: 46px;
  top: 52px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container.single-post-container .single-post .heading span.mini-detail {
  font-size: 18px;
  line-height: 22px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container.single-post-container .single-post p {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 22px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container.single-post-container .single-post .post-img {
  margin: 0 0 30px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container.single-post-container .single-post .footer-icons-list {
  margin: 0 20px;
}
.main-container .s-main-body-content .middle-body-content .posts-list-container.single-post-container .single-post .footer-icons-list p {
  margin: 0;
}
.main-container .s-main-body-content .middle-body-content .user-profile-container {
  max-width: 704px;
  margin: 0 auto;
}
.main-container .s-main-body-content .middle-body-content .user-profile-container .profile-image {
  width: 152px;
  height: 152px;
  margin: 0 auto 26px;
  border-radius: 50%;
  border: 1px solid #7d83ff;
  position: relative;
}
.main-container .s-main-body-content .middle-body-content .user-profile-container .profile-image .edit-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #7D83FF;
  color: #ffffff;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 16px;
  cursor: pointer;
}
.main-container .s-main-body-content .middle-body-content .user-profile-container .single-field {
  margin: 0 0 44px;
}
.main-container .s-main-body-content .middle-body-content .user-profile-container .single-field label {
  font-size: 18px;
  line-height: 24px;
  color: #6D6D6D;
  display: block;
  margin: 0 0 10px;
}
.main-container .s-main-body-content .middle-body-content .user-profile-container .single-field .field-icon {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translate(0, -50%);
}
.main-container .s-main-body-content .middle-body-content .user-profile-container .single-field input:active, .main-container .s-main-body-content .middle-body-content .user-profile-container .single-field input:focus {
  box-shadow: inset 0 0 10px #A7A7A7;
}
.main-container .s-main-body-content .middle-body-content .user-profile-container .single-field select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.main-container .s-main-body-content .middle-body-content .user-profile-container .single-field input, .main-container .s-main-body-content .middle-body-content .user-profile-container .single-field select {
  color: #6D6D6D;
  font-size: 16px;
  line-height: 21px;
  padding: 0 26px;
  background-color: #F9F9FC;
  height: 50px;
  border-radius: 4px;
  border: none;
  width: 100%;
  outline: none;
}

.forms-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  max-width: 1920px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .forms-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.8fr;
    position: relative;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .forms-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) and (max-width: 1650px) {
  .forms-container {
    grid-template-columns: 1fr 1fr;
  }
}
.forms-container .login-bg {
  background: url(../images/sign-up-bg.svg);
}
.forms-container .signup-bg {
  background: url(../images/sign-up-bg.svg);
}
.forms-container .forget-password-bg {
  background: url(../images/sign-up-bg.svg);
}
.forms-container .box-bg {
  padding: 48px 59px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  .forms-container .box-bg {
    padding: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .forms-container .box-bg {
    padding: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .forms-container .box-bg {
    padding: 25px;
  }
}
@media (min-width: 1281px) and (max-width: 1650px) {
  .forms-container .box-bg {
    padding: 50px;
  }
}
.forms-container .box-bg h2.title {
  font-size: 73px;
  line-height: 91px;
  font-family: Avenir-Bold;
  color: #ffffff;
  position: relative;
  top: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .forms-container .box-bg h2.title {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .forms-container .box-bg h2.title {
    font-size: 34px;
    line-height: 46px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .forms-container .box-bg h2.title {
    font-size: 45px;
    line-height: 55px;
    margin: 0 0 55px;
  }
}
@media (min-width: 1281px) and (max-width: 1650px) {
  .forms-container .box-bg h2.title {
    font-size: 48px;
    line-height: 60px;
  }
}
.forms-container .box-bg .box-content {
  position: absolute;
  bottom: 0;
}
.forms-container .box-bg .box-content h2, .forms-container .box-bg .box-content p {
  color: #fff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .forms-container .box-bg .box-content h2 {
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .forms-container .box-bg .box-content p {
    font-size: 14px;
  }
}
.forms-container .box-bg .content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: calc(100% - 118px);
}
@media (min-width: 320px) and (max-width: 767px) {
  .forms-container .box-bg .content-container {
    top: initial;
    transform: initial;
    left: initial;
    bottom: 10px;
    height: 195px;
    width: calc(100% - 40px);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .forms-container .box-bg .content-container {
    width: calc(100% - 60px);
    height: 400px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .forms-container .box-bg .content-container {
    width: calc(100% - 40px);
    height: 350px;
  }
}
@media (min-width: 1281px) and (max-width: 1650px) {
  .forms-container .box-bg .content-container {
    width: calc(100% - 100px);
    height: 350px;
  }
}
.forms-container .login-form {
  padding: 48px 168px 48px 195px;
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  .forms-container .login-form {
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .forms-container .login-form {
    padding: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .forms-container .login-form {
    padding: 25px;
  }
}
@media (min-width: 1281px) and (max-width: 1651px) {
  .forms-container .login-form {
    padding: 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .forms-container .login-form h2.logo {
    margin: 0 0 10px;
  }
}
.forms-container .login-form h2.logo a {
  background: url(../images/logo.svg) no-repeat;
}
.forms-container .login-form .form-box {
  padding-left: 12px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 518px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .forms-container .login-form .form-box {
    width: 100%;
    padding-right: 12px;
    position: relative;
    margin: 0;
    top: 0;
    transform: initial;
    margin: 0 0 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .forms-container .login-form .form-box {
    padding-right: 12px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 60px);
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .forms-container .login-form .form-box {
    padding-right: 12px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
  }
}
@media (min-width: 1281px) and (max-width: 1651px) {
  .forms-container .login-form .form-box {
    width: calc(100% - 100px);
    padding-right: 12px;
  }
}
.forms-container .login-form .form-box .forget-lock-icon {
  margin: 40px 0 70px;
}
.forms-container .login-form .form-box.signup-form-box {
  padding-top: 50px;
}
.forms-container .login-form .form-heading {
  margin: 0 0 37px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .forms-container .login-form .form-heading {
    margin: 0 0 30px;
  }
}
.forms-container .login-form .form-heading h2 {
  margin: 0 0 4px;
  color: #3E434D;
  font-size: 30px;
  line-height: 40px;
  font-family: Avenir-Heavy;
}
@media (min-width: 320px) and (max-width: 767px) {
  .forms-container .login-form .form-heading h2 {
    font-size: 24px;
    line-height: 34px;
  }
}
.forms-container .login-form .form-heading p {
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  color: #6D6D6D;
}
.forms-container .login-form .form-container {
  margin: 0 0 28px;
}
.forms-container .login-form .form-container label {
  display: block;
  color: #6D6D6D;
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 9px;
}
.forms-container .login-form .form-container input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #BCBCBC;
  padding: 0 10px;
  outline: none;
}
.forms-container .login-form .form-container input:active, .forms-container .login-form .form-container input:focus {
  border: 1px solid #7D83FF;
  color: #3E434D;
}
.forms-container .login-form .form-container input::placeholder {
  color: #BCBCBC;
}
.forms-container .login-form .form-container input[type=checkbox] {
  width: 16px;
  height: 16px;
  border-radius: 1px;
  border: 1px solid #BCBCBC;
}
.forms-container .login-form .form-container button {
  background-color: #7D83FF;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}
.forms-container .login-form .form-container button:hover {
  background-color: #7075e5;
}
.forms-container .login-form .form-container .form-field {
  margin: 0 0 18px;
}
.forms-container .login-form .form-container .form-field.last-form-field {
  margin: 0 0 40px;
}
.forms-container .login-form .form-container .form-field.have-checkbox {
  margin: 0 0 58px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .forms-container .login-form .form-container .form-field.have-checkbox {
    margin: 0 0 18px;
  }
}
.forms-container .login-form .form-container .form-field.have-checkbox label {
  line-height: 16px;
  display: grid;
  grid-template-columns: 16px auto;
  grid-gap: 6px;
}
.forms-container .login-form p {
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  color: #6D6D6D;
}
.forms-container .login-form p a {
  text-decoration: none;
  color: #7D83FF;
}

.s-sidebar {
  margin: 5px 0 0;
}
.s-sidebar ul {
  padding-left: 20px;
  margin: 0 0 28px;
}
.s-sidebar ul:last-child {
  margin: 0;
}
.s-sidebar ul li {
  margin: 0 0 10px;
  list-style: none;
}
.s-sidebar ul li a {
  position: relative;
  color: #A7A7A7;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}
.s-sidebar ul li a:hover {
  color: #000000;
}
.s-sidebar ul li a.active {
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
