.s-header {
    padding: 12px 0;
    margin: 0 0 16px;
    .mobile-menu-button {
        display: none;
        justify-self: end;
        font-size: 18px;
        color: #414042;
        @media (min-width: 320px) and (max-width: 767px) {
            display: initial;
        }
    }
    .s-header-content {
        display: grid;
        grid-template-columns: 207px 1fr 1fr;
        grid-gap: 60px;
        align-items: center;
        @media (min-width: 320px) and (max-width: 767px) {
            grid-template-columns: 140px 1fr;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            grid-template-columns: 160px 1fr 1fr;
            grid-gap: 25px;
        }
        h2.logo {
            @media (min-width: 768px) and (max-width: 1023px){
                width: 140px;
                height: 45px;
            }
            a {
                background-image: url(../images/logo.svg);
                @media (min-width: 768px) and (max-width: 1023px){
                    width: 140px;
                    height: 45px;
                    background-size: cover;
                }
            }
        }
        .menu {
            @media (min-width: 320px) and (max-width: 767px) {
                display:none;
                position: absolute;
                width: 150px;
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 8px;
                right: 20px;
                top: 40px;
                padding: 5px 0;
                z-index: 1;
                box-shadow: 1px 1px 5px #ccc;
            }
            li {
                display: inline-block;
                margin-right: 47px;
                @media (min-width: 320px) and (max-width: 767px) {
                    display: block;
                    margin: 0;
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    margin-right:25px;
                }
                &:last-child {
                    margin: 0;
                }
                a {
                    position: relative;
                    color: #A7A7A7;
                    font-size: 16px;
                    line-height: 21px;
                    text-decoration: none; 
                    @media (min-width: 320px) and (max-width: 767px) {
                        display: block;
                        padding: 8px 10px;
                    }
                    @media (min-width: 768px) and (max-width: 1023px) {
                        font-size: 14px;
                    }
                    &:hover {
                        color: #000000;
                    }  
                    span.user-img {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                }
                a.active {
                    color: #000000;
                }
                a.have-profile-img {
                    padding-left: 40px;
                }
            }
        }
        .menu.right-menu {
            justify-self: end;
            @media (min-width: 320px) and (max-width: 767px) {
                display: none;
            }
            li {
                a {
                    color: #414042;
                }
            }
        }
    }
}